{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block breadcrumbs %}

    <!-- JS and CSS for FilteredSelectMultiple Wdiget -->
    <!-- -------------------------------------------------------------------------------- -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />

    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
    <!-- -------------------------------------------------------------------------------- -->

    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Página Principal' %}</a>&rsaquo;
        <a href="/admin/jderobot_kids/individual_permissions/">Individual Permissions</a> &rsaquo; 
        {% trans 'Gestión de Permisos de Usuario' %}
    </div>

{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

    <p>{% trans "HERRAMIENTA DE GESTIÓN DE PERMISOS SOBRE UN EJERCICIO O CONJUNTO DE EJERCICIOS PARA UN USUARIO" %}</p>

    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            {% for field in form %}
            <div class="form-row field-{{field.name}} required">
                {{ field.errors }}
                <label for="id_{{field.name}}">{{field.label}}</label>
                {{ field }}
                {{ field.help_text }}
            </div>
            {% endfor %}
            <input id="submit" type="submit" value="{% trans 'Asignar Permisos al Usuario' %}" />
        </fieldset>
    </form>

{% endblock %}
