{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Kibotics</title>

    <!-- Core JavaScript Files -->
    <script src='{% static "assets/js/jquery-1.10.2.js" %}'></script>
    <script src='{% static "assets/js/bootstrap/bootstrap.min.js" %}'></script>
    <script src='{% static "assets/js/modernizr.custom.js" %}'></script>

    <!-- Plugin JavaScript Files -->
    <script src='{% static "assets/js/plugins/jquery.easing/jquery.easing.1.3.js" %}'></script>
    <script src='{% static "assets/js/plugins/jquery.fitvids/jquery.fitvids.js" %}'></script>
    <script src='{% static "assets/js/plugins/jquery.fs.wallpaper/jquery.fs.wallpaper.min.js" %}'></script>
    <script src='{% static "assets/js/plugins/jquery.magnific-popup/jquery.magnific-popup.min.js" %}'></script>
    <script src='{% static "assets/js/plugins/jquery.tubular/jquery.tubular.1.0.js" %}'></script>
    <script src='{% static "assets/js/plugins/owl.carousel/owl.carousel.js" %}'></script>
    <script src='{% static "assets/js/plugins/scrollReveal/scrollReveal.js" %}'></script>
    <script src='{% static "assets/js/plugins/stellar/stellar.js" %}'></script>
    <script src='{% static "assets/js/plugins/SmoothScroll/SmoothScroll.js" %}'></script>
    <script src='{% static "assets/js/plugins/jqBootstrapValidation/jqBootstrapValidation.js" %}'></script>
    <script src='{% static "assets/js/contact_me.js" %}'></script>
    <script src='{% static "assets/js/plugins/isotope/isotope.pkgd.min.js" %}'></script>

    <!-- Spectrum JavaScript Files -->
    <script src='{% static "assets/js/spectrum.nav.js" %}'></script>
    <script src='{% static "assets/js/spectrum.js" %}'></script>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href='{% static "img/kibotics_favicon.png"%}'>

	<!-- Bootstrap Core CSS -->
	<link href='{% static "assets/css/bootstrap/bootstrap.min.css" %}' rel="stylesheet" type="text/css">

	<!-- Fonts -->
	<link href='{% static "assets/css/plugins/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Pacifico2" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Retina Images Plugin -->
	<script src='{% static "assets/js/plugins/retina/retina.min.js" %}'></script>

	<!-- Plugin CSS -->
	<link href='{% static "assets/css/plugins/hover/hover.min.css" %}' rel="stylesheet">
	<link href='{% static "assets/css/plugins/owl.carousel/owl.carousel.css" %}' rel="stylesheet">
	<link href='{% static "assets/css/plugins/owl.carousel/owl.theme.css" %}' rel="stylesheet">
	<link href='{% static "assets/css/plugins/owl.carousel/owl.transitions.css" %}' rel="stylesheet">
	<link href='{% static "assets/css/plugins/jquery.fs.wallpaper/jquery.fs.wallpaper.css" %}' rel="stylesheet">
	<link href='{% static "assets/css/plugins/magnific-popup/magnific-popup.css" %}' rel="stylesheet">

	<!-- Spectrum CSS -->
	<link href='{% static "assets/css/spectrum-slate.css" %}' rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<div style="width: 100%; height: 50%;">
        <!-- Navbar -->
      <header class="img-bg">
        <div class="container intro-video">
		    <nav class="navbar navbar-dark navbar-fixed-top" role="navigation">
			    <div class="container">
				    <div class="navbar-header page-scroll">
					    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
						    <i class="fa fa-bars"></i>
					    </button>
					    <a class="navbar-brand" href="/">
						    <span class="logo">
							    <img src='{% static "img/logo_sin_fondo-vertical_azul.png" %}' alt="">
						    </span>
					    </a>
				    </div>

                    <!-- Navbar menu -->
				    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
					    <ul class="nav navbar-nav">
						    <li class="hidden">
							    <a href="#page-top"></a>
						    </li>
						    <li class="page-scroll">
							    <a href="https://www.youtube.com/channel/UCVH_ODFODyRUidhtR0IIZnw/featured" target="_blank"><i class="fab fa-fw fa-youtube"></i></a>
						    </li>
						    <li class="page-scroll">
							    <a href="https://twitter.com/KiboticsOrg" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
						    </li>
						    <li class="page-scroll">
							    <a href="#contact">Contacto</a>
						    </li>
						    <li>
							    <a href="https://makers.kibotics.org" target="_blank">Foro</a>
						    </li>
              <li class="page-scroll">
							    <a href="/registration/">Registrarse</a>
						    </li>
						    <li class="page-scroll">
							    <a href="/login">Entrar</a>
						    </li>
					    </ul>
				    </div>
				    <!--<ul class="navbar-nav mr-right">-->
			    </div>
		    </nav>
            <div class="overlay"></div>
		    <div class="intro-body" data-scrollreveal="move 0 over 1s">
			    <div class="container" width="100%" height="100%">
			    	<br>
				    <h1 class="brand-heading">
					    <span>Cursos de Kibotics</span>
				    </h1>
				    <hr class="light">
                    <a class="btn btn-outline btn-light btn-lg" href="/websim-scratch/websim/siguelinea_pibot_scratch_vision">¡Prueba el Ejercicio Sigue Línea (Scratch) Gratis!</a>
		        </div>
                
            </div>
            
        </div>
      </header>

      <div class="bg-info intro-video" style="height:6%;">
        <div class="col-lg-12 text-center">
          <div class="row" data-scrollreveal="enter bottom over 2s">
			      <div class="isotope">
              <div class="col-sm-4"><h3>Cursos 100% Online</h3></div>
              <div class="col-sm-4"><h3>Robots Reales y Simulados</h3></div>
              <div class="col-sm-4"><h3>No Requiere Instalación</h3></div>
            </div>
          </div>                          
        </div>
      </div>

    </div>
      

      <section id="features" class="services-1">
        <!-- courses overview -->
        <div class="text-center"><h2> Todos los Cursos de Kibotics </h2></div>
        <br>
        {# for courses_set in courses_set_list #}
        <div class="container">
          <div class="row" style="margin-top: 30px;">
            <div class="col-lg-12 text-center">
               {# for course in courses_set #}
                 <div class="col-sm-4">
                   <!-- course card --> 
                    <style> .course-card:hover{border:1px solid black;}</style>
                   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                   <a href="/course/drones/">
                       <div class="w3-card-4 w3-margin course-card">
                         <div class="w3-display-container w3-text-white">
                           <img src="{% static 'assets/img/portfolio/drones_course.png' %}" alt="Lights" style="width:100%">
                           <div class="w3-xlarge w3-display-bottomleft w3-padding">Drones</div>
                         </div>
                         <br>
                         <div class="w3-row">
                           <div class="w3-third w3-center">
                             <h4>Lenguaje</h4>
                             <i class="fab fa-python" style="font-size: 400%"></i>
                             <h5>Python</h5>
                           </div>
                           <div class="w3-third w3-center">
                             <h4>Plataforma</h4>
                             <i class="fab fa-android" style="font-size: 400%"></i>
                            <!-- <i class="fa fa-laptop" style="font-size: 400%"></i> -->
                             <h5>Real</h5>
                           </div>
                           <div class="w3-third w3-center w3-margin-bottom">
                             <h4>Nivel</h4>
                             <i class="fas fa-battery-quarter" style="font-size: 400%; color:green;"></i>
                             <!-- <i class="fas fa-battery-half" style="font-size: 400%; color:#f0ab2b;"></i> -->
                             <!-- <i class="fas fa-battery-full" style="font-size: 400%; color:red;"></i> -->
                             <h5>Básico</h5>
                           </div>
                         </div>
                       </div>
                    </a>

                 </div>
               {# endfor #}  
            </div>
          </div>
        </div>
        {# endfor #}
      </section>

</body>
