
{% load static %} <!-- Cargamos los archivos estaticos -->
{% comment %} {% include "jderobot_kids/download_guide.html"%} {% endcomment %}


<div style="margin-top: 20%">
    <h3>Descarga tu código y enviarlo al PiBot.</h3>

    <div class="text-center">
        <img class="text-center" src="{% static 'img/pibot-descarga_local.png' %}" width="300px" height="250px">
    </div>

    <div class="text-center">
        <a id="downloadCode" class="btn btn-primary btn-lg" href="/download_exercise/{{exercise.exercise_id}}" target="_blank">Descargar código</a>
        <a id="sendToPi" class="btn btn-success btn-lg" href="http://10.3.141.1:8001" target="_blank">Enviar al PiBot</a>
    </div>
    <a class="btn btn-default" href="http://10.3.141.1/index.php?page=hostapd_conf" style="position: fixed; bottom: 0px; right: 0px;" target="_blank"><span class="glyphicon glyphicon-cog"></span></a>
</div>