{% load static %} <!-- Cargamos los archivos estaticos -->


<center><h3>En esta sección podrás enviar tu código  MBot.</h3></center>

<div class="text-center">
    <img class="text-center" src="{% static '/'%}{{ exercise.language }}/{{ exercise.exercise_id }}/img/mbot.jpg"
         width="300px" height="250px">
</div>

<div id="text" class="text-center">
    <h3><span id="proxy_state" class="label label-success">Conexión con proxy</span></h3>
    {% if exercise.language == "python" %}
        <button type="button" id="send_mbot" class="btn btn-info" onclick="send_code_to_mbot()"><span
                class="glyphicon glyphicon-send"></span> Ejecutar en MBot
        </button>
    {% elif exercise.language == "scratch" %}
        <button type="button" id="send_mbot" class="btn btn-info" onclick="convert_and_send_code_to_mbot()"><span
            class="glyphicon glyphicon-send"></span> Ejecutar en MBot
        </button>
    {% endif %}
</div>

<script>

    function send_code_to_mbot() {
        var editor = ace.edit("ace");
        let code = editor.getValue();
        console.log(code);

        const message = {
            method: "GET"
        };
        url = '/get_python_to_arduino_code?python_code=' + JSON.stringify(code);
        fetch(url, message)
            .then(data => {
                console.log(data);
                const reader = data.body.getReader();
                return createReadableStream(reader);
            })
            .then(stream => new Response(stream))
            .then(response => response.blob())
            .then(blob => {
                console.log(blob);


                var a_element = document.createElement("a");
                document.body.appendChild(a_element);
                a_element.style = "display: none";
                let url = window.URL.createObjectURL(blob);
                a_element.href = url;
                a_element.download = 'mBot_upload.zip';
                a_element.click();
                window.URL.revokeObjectURL(url);
                console.log("Executable downloaded");
            })
            .catch(err => console.error(err));
    }

    function convert_and_send_code_to_mbot() {
        var pythoncode = Blockly.Python.workspaceToCode(editor.ui);
        console.log(pythoncode);

        const message = {
            method: "GET"
        };
        url = '/get_python_to_arduino_code?python_code=' + JSON.stringify(pythoncode);
        fetch(url, message)
            .then(data => {
                console.log(data);
                const reader = data.body.getReader();
                return createReadableStream(reader);
            })
            .then(stream => new Response(stream))
            .then(response => response.blob())
            .then(blob => {
                console.log(blob);
                var a_element = document.createElement("a");
                document.body.appendChild(a_element);
                a_element.style = "display: none";
                let url = window.URL.createObjectURL(blob);
                a_element.href = url;
                a_element.download = 'mBot_upload.zip';
                a_element.click();
                window.URL.revokeObjectURL(url);
                console.log("Executable downloaded");
            })
            .catch(err => console.error(err));
    }

    function createReadableStream(reader) {
        return new ReadableStream({
            start(controller) {
                return pump();

                function pump() {
                    return reader.read().then(({done, value}) => {
                        if (done) {
                            controller.close();
                            return;
                        }
                        controller.enqueue(value);
                        return pump();
                    });
                }
            }
        })
    }


    function save_exercise() {
        var editor = ace.edit("ace");
        let code = editor.getValue();

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log('código guardado con éxito');
          }
        };
        var csrf = '{{ csrf_token }}';
        xhttp.open("POST", "/save_user_code/", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.setRequestHeader("X-CSRFToken", csrf);
        xhttp.send(JSON.stringify({
            simulation_code : code
        }));
    }

</script>
