{% extends "jderobot_kids/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<!-- Imports -->
<link rel="stylesheet" type="text/css" href='{% static "css/cards.css" %}'>
<script src='{% static "js/cards.js" %}'></script>

{% if authenticate %}
  <div class="container col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1" style="margin-bottom: 50px">

    {% if user_exercises_permissions %}
      <!-- Access Permission. Presentation + (Read and/or Write and/or Execution) -->
      {% for type in user_exercises_type.items %}
        <div class='container'>
          {% if type.0 != "Retos" %}
            <div style="height:30px"></div>
          {% endif %}
          <h2 id="exer_type">{{ type.0 }}</h2>
          <div class="row">
            {% for ex in type.1 %}
              <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="divider"></div>
                <div class="card">
                  {% if ex.exercise.platform == "websim" %}
                    {% if ex.exercise.language == "python" %}
                      <a title="{{ ex.exercise.name }}" data-content="{{ ex.exercise.description }}" href="/websim-ace/websim/{{ ex.exercise.exercise_id }}"><img class="card-img-top" src="{% static '/'%}{{ ex.exercise.language }}/{{ ex.exercise.exercise_id }}/img/{{ex.exercise.thumbnail}}"></a>
                    {% elif ex.exercise.language == "scratch" %}
                      <a  data-toggle="popover" data-html="true" title="{{ ex.exercise.name }}" data-content="{{ ex.exercise.description }}" href="/websim-scratch/websim/{{ ex.exercise.exercise_id }}"><img class="card-img-top" src="{% static '/'%}{{ ex.exercise.language }}/{{ ex.exercise.exercise_id }}/img/{{ex.exercise.thumbnail}}"></a>
                    {% endif %}
                  {% elif ex.exercise.platform == "tutorials" %}
                    <a title="{{ ex.exercise.name }}" data-content="{{ ex.exercise.description }}" href="/{{ ex.exercise.exercise_id }}/{{ ex.exercise.exercise_id }}"><img class="card-img-top" src="{% static '/'%}{{ ex.exercise.language }}/{{ ex.exercise.exercise_id }}/img/{{ex.exercise.thumbnail}}"></a>
                  {% elif ex.exercise.platform == "real" %}
                    {% if ex.exercise.language == "python" %}
                      <a title="{{ ex.exercise.name }}" data-content="{{ ex.exercise.description }}" href="/websim-ace/real/{{ ex.exercise.exercise_id }}"><img class="card-img-top" src="{% static '/'%}{{ ex.exercise.language }}/{{ ex.exercise.exercise_id }}/img/{{ex.exercise.thumbnail}}"></a>
                    {% elif ex.exercise.language == "scratch" %}
                      <a title="{{ ex.exercise.name }}" data-content="{{ ex.exercise.description }}" href="/websim-scratch/real/{{ ex.exercise.exercise_id }}"><img class="card-img-top" src="{% static '/'%}{{ ex.exercise.language }}/{{ ex.exercise.exercise_id }}/img/{{ex.exercise.thumbnail}}"></a>
                    {% endif %}
                  {% elif ex.exercise.platform == "real-jupyter" %}
                    <a title="{{ ex.exercise.name }}" data-content="{{ ex.exercise.description }}" href="/simulation/real/{{ ex.exercise.exercise_id }}"><img class="card-img-top" src="{% static '/'%}{{ ex.exercise.language }}/{{ ex.exercise.exercise_id }}/img/{{ex.exercise.thumbnail}}"></a>
                  {% elif ex.exercise.platform == "pyonbrowser-theory" %}
                    <a title="{{ ex.exercise.name }}" data-content="{{ ex.exercise.description }}" href="/websim-ace/websim/{{ ex.exercise.exercise_id }}"><img class="card-img-top" src="{% static '/'%}{{ ex.exercise.language }}/{{ ex.exercise.exercise_id }}/img/{{ex.exercise.thumbnail}}"></a>
                  {% endif %}
                  <div class="card-block">
                    <h5 class="text-bold" style="font-weight: bold;">{{ ex.exercise.name }}</h5>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% else %}
  <!--            -->
  <!-- LOGIN SITE -->
  <!--            -->
  <link rel="stylesheet" type="text/css" href='{% static "css/login.css" %}'>

  <div class="wrapper fadeInDown text-center">
    <!-- <div class="panel-heading"><b> {% trans "Inicio de Sesión" %}</b></div> -->
    <div id="formContent">
      <!-- LOGO -->
      <div class="fadeIn first text-center">
        <!-- <img id="icon" src='{% static "img/logo_sin_fondo-vertical_azul.png"%}' alt="Image"> -->
        <img id="icon" src='{% static "img/logo_mascota_2.png"%}' alt="Image">
      </div>
      <!-- FORM -->
      <form method="POST" action="/login" enctype="multipart/form-data"  data-toggle="validator">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <input id="login"    class="fadeIn second" type="text"     name="username"     placeholder='{% trans "Nombre de Usuario" %}'/>
        <input id="password" class="fadeIn third"  type="password" name="password" placeholder='{% trans "Contraseña" %}'/>
        <input class="fadeIn fourth" type="submit" value="{% trans 'Iniciar Sesión' %}"/>
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/password_reset/"> {% trans "¿Has olvidado tu contraseña?" %}</a>
      </div>
    </div>
  </div>
{% endif %}

<style>
  .presentation {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
</style>
{% if expired %}
  <script>
    // Disable all simulation buttons if User's subscription expired
    var a_elements = document.getElementsByTagName('a');
    var simulation_buttons = [];
    for (a in a_elements) {
      if (a_elements[a].classList && a_elements[a].classList.contains('btn-simulation')){
        simulation_buttons.push(a_elements[a]);
        a_elements[a].classList.add("disabled");
      }
    }
  </script>
{% endif %}

{% endblock %}
