{% extends "jderobot_kids/base.html" %}
{% load static %} <!-- Cargamos los archivos estaticos -->
{% load i18n %} <!-- Cargamos el módulo de Internacionalización -->
{% block content %}


<link rel="stylesheet" type="text/css" href='{% static "css/login.css" %}'>

    <div class="wrapper fadeInDown text-center">
        <!-- <div class="panel-heading"><b> {% trans "Inicio de Sesión" %}</b></div> -->
        <div id="formContent">
            <!-- LOGO -->
            <div class="fadeIn text-center">
                <h2>Registro en Kibotics</h2>
            </div>
            <!-- FORM -->
            <form method="POST" enctype="multipart/form-data"  data-toggle="validator">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>

                <!-- first name -->
                <input id="first_name" class="fadeIn" name="first_name" placeholder='{% trans "Nombre" %}'  type="text" required>
                {% if "first_name" in form_errors %}
                    <div class="error_message">
                        {% for error in form_errors.first_name %}
                            {{error.message}}
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- last name -->
                <input id="last_name" class="fadeIn" name="last_name" placeholder='{% trans "Apellidos" %}'  type="text" required>
                {% if "last_name" in form_errors %}
                    <div class="error_message">
                        {% for error in form_errors.last_name %}
                            {{error.message}}
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- username -->
                <input id="username" class="fadeIn" name="username" placeholder='{% trans "Nombre de Usuario" %}' type="text" required>
                {% if "username" in form_errors %}
                    <div class="error_message">
                        {% for error in form_errors.username %}
                            {{error.message}}
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- email -->
                <input id="email" class="fadeIn" name="email" placeholder='{% trans "Email" %}' type="email" required>
                {% if "email" in form_errors %}
                    <div class="error_message">
                        {% for error in form_errors.email %}
                            {{error.message}}
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- reg. code -->
                <input id="code" class="fadeIn" name="code" placeholder='{% trans "Código de Registro (Obligatorio)" %}' type="text" required>
                {% if "code" in form_errors %}
                    <div class="error_message">
                        {% for error in form_errors.code %}
                            {{error.message}}
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- password -->
                <input id="password" name="password1" placeholder='{% trans "Contraseña" %}' class="fadeIn" type="password" autocomplete="off" minlength="8" maxlength="16" required>
                {% if "password1" in form_errors %}
                    <div class="error_message">
                        {% for error in form_errors.password1 %}
                            {{error.message}}
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- Confirm password -->
                <input id="password" name="password2" placeholder='{% trans "Confirmar Contraseña" %}' class="fadeIn" type="password" autocomplete="off" minlength="8" maxlength="16" required>
                {% if "password2" in form_errors %}
                    <div class="error_message">
                        {% for error in form_errors.password2 %}
                            {{error.message}}
                        {% endfor %}
                    </div>
                {% endif %}
                <br>
                <div style="padding: 10px 0px 10px 0px">
                    <input class="fadeIn"  type="checkbox" required name="terms"> Acepto los <a class="underlineHover" href="/terms" target="_blank">Términos y Condiciones de uso</a>
                </div>
                <!-- submit -->
                <input id="submit" name="Submit" type="submit" class="fadeIn" value='{% trans "Registrarse" %}'>     
            </form>
            <!-- Remind Passowrd -->
            <div id="formFooter"> 
                <a class="underlineHover" href="/index"> {% trans "Volver a la página principal" %}</a>
            </div>
        </div>
    </div>

{% endblock %}
