{% extends "jderobot_kids/base.html" %}
{% load static %} <!-- Load static files -->
{% block content %}
  <link rel="stylesheet" type="text/css" href='{% static "websim/Scratch-editor/css/main.css" %}'>
  <script type="text/javascript" src='{% static "websim/Scratch-editor/js/brain-status.js" %}'></script>
  <script>
    $(document).ready(async ()=> {
      $("#runbtn").click(() => {
        let iconRunBtn = document.querySelector("#runbtn").firstChild;
        if ($(iconRunBtn)[0].getAttribute("src") ===  "/static/img/icons/play.png"){
          $(iconRunBtn).attr("src", "/static/img/icons/pause.png");
           $('#console_output')[0].innerHTML = '';
        } else {
          $(iconRunBtn).attr("src", "/static/img/icons/play.png");
        }
      });
    });
    document.getElementById("goToMainPage").style.display = "inline";

    {% if user.is_authenticated %}
      window.wsUri = "{{ws_url}}" + "?simulation_id={{simulation.id}}";
    {% else %}
      window.wsUri = null
    {% endif %}

    let stream
    let localStream;
    let remoteStream;
    let divVideo;
    let pc1;
    let pc2;
    var sendChannel;
    var receiveChannel;

    var exercise_name = '{{ exercise }}';

    var nameUser = "{{username}}";
    var synch = false;

    var lenguage = "Scratch";

    var wsocket = new WebSocket("{{ws_url}}" + "?simulation_id={{simulation.id}}");

    if ('{{competitive}}') {
        window.userCode1 = '{{userCode1|safe}}'
        window.userCode2 = '{{userCode2|safe}}'
    } else {
        window.userCode = '{{user_code|safe}}'
    }

    if ('{{synchronous}}' === "True") {
      // variables used in streaming pc(webrtc.js) creation.
      var configuration = {
        "iceServers": [{ "urls": "stun:stun.1.google.com:19302" }]
      };
      synch = true;
    }

    /**
     * When WebSocket is open, set the connection
     * @param  {Object} wsocket WebSocket
     * @return {Boolean}        Errors handler
    **/
    if (wsocket.readyState == WebSocket.OPEN) wsocket.onopen();
  </script>

  <div id="exercise-nav">
    {% if synchronous %}
      <li>
        <div id="searchBar" style="display: none;">
          <div id="searchDiv">
            <input type="search" id="userSearch" placeholder="Buscar Adversario" onkeypress="searchOpponent(event)">
          </div>
        </div>
      </li>
    {% endif %}
    <div class="nav navbar-nav" id="exernav-center">
      <li><a id="firstRobot" href="#" title="Ver Código" style="display: none;"><img src='{% static "websim/assets/resources/car1.svg" %}'/></a></li>
      <li><a id="saveCode" href="#" title="Guardar" style="display: none;"><img src='{% static "img/icons/save.png" %}'/></a></li>
      <li><a id="loadRobot" href="#" title="Cargar Código" style="display: none;" onclick="loadCode()"><img src='{% static "img/icons/load1.png" %}'/></a></li>
      <li><a id="runbtn" href="#" title="Ejecutar" style="display: none;"><img src='{% static "img/icons/play.png" %}'/></a></li>
      <li><a id="send_tello" href="#" title="Enviar a Tello" onclick="send_code_2_tello()" style="display: none;"><img src='{% static "img/icons/play.png" %}'/></a></li>
      <li><a id="send_mbot" href="#" title="Enviar a MBot" onclick="send_code_to_mbot()" style="display: none;"><img src='{% static "img/icons/play.png" %}'/></a></li>
      <li><a id="resetRobot" href="#" title="Reiniciar" style="display: none;"><img src='{% static "img/icons/reset.png" %}'/></a></li>
      <li><a id="cambtn" href="#" title="Cámara" style="display: none;"><img src='{% static "img/icons/camera.png" %}'/></a></li>
      <li><a id="stopStreamButton" href="#" title="Salir de la competición" onclick="exitStreaming()" style="display: none"><img src='{% static "img/icons/stop-stream.png" %}'/></a></li>
      <li><a id="exitbtn" href="#" title="Salir" style="display: none;" onclick="clearBar()"><img src='{% static "img/icons/exit.png" %}'/></span></a></li>
    </div>
    {% if synchronous %}
      <li style="float: right; padding-top: 3px;">
        <div id="checkStatus" style="display: none">
          <div id="checkOnline" disabled >
            <input id="online1" type="checkbox" disabled checked>
            <label for="online1">Usuario-Local</label>
            <input id="online2" type="checkbox" disabled>
            <label for="online2">Usuario-Remoto</label>
          </div>

          <div id="checkCode" disabled>
            <input id="code1" type="checkbox" disabled>
            <label for="code1">Código-Local</label>
            <input id="code2" type="checkbox" disabled>
            <label for="code2">Código-Remoto</label>
          </div>
        </div>
      </li>
    {% endif %}
  </div>

  {% if simulation_type == "real" %}
    <div id="loading_page" class="col-xs-6" style="padding:0px 0px 0px 0px; height: calc(100vh - 72px); width: 100%; background-color:white; display:inline;">
      <div width="100%" height="100%" frameBorder="0" style="padding: 20px; max-height: 100%; overflow-y: scroll;">
        {% include exercise.language|add:"/"|add:exercise.exercise_id|add:"/templates/"|add:exercise.exercise_id|add:"_index.html" %}
      </div>
    </div>
    <!-- THEORY -->
    <div id="theory_column" class="col-xs-6" style="padding:0px 0px 0px 0px; height: calc(100vh - 72px); width: 100%; background-color:white; display:none;">
      <div width="100%" height="100%" frameBorder="0" style="padding: 20px; max-height: 100%; overflow-y: scroll;">
        {% include exercise.language|add:"/"|add:exercise.exercise_id|add:"/templates/"|add:exercise.exercise_id|add:"_teoria.html" %}
      </div>
    </div>
    <!-- EDITOR -->
    <div id="editor" class="col-xs-6 editor" style="padding:0px 0px 0px 0px; height: calc(100vh - 72px); background-color:#d3dae5; display:none;">
      <!-- Scratch-editor -->
      <!-- NOTE: each real robot could have its own editor with its own group of blocks, dependind on it HAL -->
      {% include exercise.language|add:"/"|add:exercise.exercise_id|add:"/templates/"|add:exercise.exercise_id|add:"_editor.html" %}
    </div>
    <!-- Use Guide -->
    <div id="download_guide_column" class="col-xs-6" style="padding:0px 0px 0px 0px; height: calc(100vh - 72px); display: none">
        {% include "jderobot_kids/"|add:guide %}
    </div>

  {% elif simulation_type == "websim" %}

    <div id="container">
      <div id="loading_page" class="col-xs-6" style="padding:0px 0px 0px 0px; height: calc(100vh - 72px); width: 100%; background-color:white; display:inline;">
        <div width="100%" height="100%" frameBorder="0" style="padding: 20px; max-height: 100%; overflow-y: scroll;">
          {% include exercise.language|add:"/"|add:exercise.exercise_id|add:"/templates/"|add:exercise.exercise_id|add:"_index.html" %}
        </div>
      </div>
      <!-- Scratch-editor -->
      {% if synchronous %}
        <div id="chat_column" class="col-xs-6" style="padding:0px 0px 0px 0px; height: calc(100vh - 72px); display: none">
          {% include "jderobot_kids/websim_synchronous.html" %}
        </div>
      {% endif %}
        <div id="editor" class="col-xs-6 editor" style="padding:0px 0px 0px 0px; height: calc(100vh - 72px); background-color:#d3dae5; display: none">
          {% if exercise_permissions.r %}
            {% if exercise_permissions.w %}
              <div id="blockly-div" class="blockly-container">
            {% else %}
              <div id="blockly-div" class="blockly-container write-forbidden">
            {% endif %}
          {% else %}
            <div id="blockly-div" class="blockly-container div-forbidden">
          {% endif %}
              <xml id="toolbox" style="display: none">
                <category name="Variables" custom="VARIABLE"></category>
                <category name="Text" colour="%{BKY_MATH_HUE}">
                  <block type="text"></block>
                </category>
                <category name="Logic" colour="%{BKY_LOGIC_HUE}">
                  <category name="If">
                    <block type="controls_if"></block>
                  </category>
                  <category name="Boolean" colour="%{BKY_LOGIC_HUE}">
                    <block type="logic_compare"></block>
                    <block type="logic_operation"></block>
                    <block type="logic_negate"></block>
                    <block type="logic_boolean"></block>
                    <block type="logic_null"></block>
                    <block type="logic_ternary"></block>
                  </category>
                </category>
                <category name="Loops" colour="%{BKY_LOOPS_HUE}">
                  <block type="controls_repeat_ext">
                    <value name="TIMES">
                      <block type="math_number">
                        <field name="NUM">10</field>
                      </block>
                    </value>
                  </block>
                  <block type="controls_whileUntil"></block>
                  <block type="controls_for">
                    <field name="VAR">i</field>
                    <value name="FROM">
                      <block type="math_number">
                        <field name="NUM">1</field>
                      </block>
                    </value>
                    <value name="TO">
                      <block type="math_number">
                        <field name="NUM">10</field>
                      </block>
                    </value>
                    <value name="BY">
                      <block type="math_number">
                        <field name="NUM">1</field>
                      </block>
                    </value>
                  </block>
                  <block type="controls_forEach"></block>
                  <block type="controls_flow_statements"></block>
                  <block type="set_interval"></block>
                </category>
                <category name="Math" colour="%{BKY_MATH_HUE}">
                  <block type="math_number">
                    <field name="NUM">123</field>
                  </block>
                  <block type="math_arithmetic"></block>
                  <block type="math_single"></block>
                  <block type="math_trig"></block>
                  <block type="math_constant"></block>
                  <block type="math_number_property"></block>
                  <block type="math_round"></block>
                  <block type="math_on_list"></block>
                  <block type="math_modulo"></block>
                  <block type="math_constrain">
                    <value name="LOW">
                      <block type="math_number">
                        <field name="NUM">1</field>
                      </block>
                    </value>
                    <value name="HIGH">
                      <block type="math_number">
                        <field name="NUM">100</field>
                      </block>
                    </value>
                  </block>
                  <block type="math_random_int">
                    <value name="FROM">
                      <block type="math_number">
                        <field name="NUM">1</field>
                      </block>
                    </value>
                    <value name="TO">
                      <block type="math_number">
                        <field name="NUM">100</field>
                      </block>
                    </value>
                  </block>
                  <block type="math_random_float"></block>
                </category>
                <category name="Lists" colour="%{BKY_LISTS_HUE}">
                  <block type="lists_create_empty"></block>
                  <block type="lists_create_with"></block>
                  <block type="lists_repeat">
                    <value name="NUM">
                      <block type="math_number">
                        <field name="NUM">5</field>
                      </block>
                    </value>
                  </block>
                  <block type="lists_length"></block>
                  <block type="lists_isEmpty"></block>
                  <block type="lists_indexOf"></block>
                  <block type="lists_getIndex"></block>
                  <block type="lists_setIndex"></block>
                </category>
                <category name="Functions" custom="PROCEDURE" colour="%{BKY_PROCEDURES_HUE}">
                </category>
                <category name="RobotAPI">
                  <category name="Constructor" colour=%{BKY_LOGIC_HUE}>
                    <block type="robot_instance"></block>
                  </category>
                  <category name="Motors" colour='%{BKY_MATH_HUE}'>
                    <block type="move_forward"></block>
                    <block type="move_backward"></block>
                    <block type="move_combined"></block>
                    <block type="move_combined_all"></block>
                    <block type="getLinearSpeed"></block>
                    <block type="getAngularSpeed"></block>
                    <block type="getLateralSpeed"></block>
                    <block type="turn_left"></block>
                    <block type="turn_right"></block>
                    <block type="set_lateral"></block>
                    <block type="stop_robot"></block>
                    <block type="takeoff"></block>
                    <block type="land"></block>
                    <block type="move_forward_to"></block>
                    <block type="move_backward_to"></block>
                    <block type="turn_left_to"></block>
                    <block type="turn_right_to"></block>
                  </category>
                  <category name="Camera" colour='%{BKY_LISTS_HUE}'>
                    <block type="get_image"></block>
                    <block type="get_objcolor"></block>
                    <block type="get_objcolorRGB"></block>
                    <block type="get_image_of"></block>
                  </category>
                  <category name="Tools" colour=%{BKY_LOOPS_HUE}>
                    <block type="set_timeout"></block>
                    <block type="start"></block>
                    <block type="logs"></block>
                    <block type="imgto_canvas"></block>
                    <block type="wait_block"></block>
                  </category>
                  <category name="Sensors" colour="%{BKY_VARIABLES_DYNAMIC_HUE}">
                    <block type="get_distance"></block>
                    <block type="get_distances"></block>
                    <block type="get_position"></block>
                    <block type="read_ir"></block>
                  </category>
                </category>
              </xml>
            </div>
            <div id="cameras" style="display:inline-flex;">
              <div id="cameraOpenCV" style="margin-left: 5px; margin-right: 15px;">
                <p>OpenCV image</p>
                <canvas id="outputCanvas" style="width:150px; height:100px; display: none" ></canvas>
              </div>
              <div id="robotCam">
                <p>Robot Camera</p>
                <div id="spectatorDiv" style="width: 150px; height: 100px;"></div>
              </div>
            </div>
            <div class="col-xs-12" id="console_output"></div>
            <div id="dragbar" class="dragbar"></div>
          </div>
      <!-- THEORY -->
      <div id="theory_column" class="col-xs-6" style="padding:0px 0px 0px 0px; height: calc(100vh - 72px); width: 100%; background-color:white; display:none;">
        <div width="100%" height="100%" frameBorder="0" style="padding: 20px; max-height: 100%; overflow-y: scroll;">
          {% include exercise.language|add:"/"|add:exercise.exercise_id|add:"/templates/"|add:exercise.exercise_id|add:"_teoria.html" %}
        </div>
      </div>
      <!-- SIMULADOR -->
      <div id="myIFrame" class="col-xs-6 myIframe" style="background:white; padding:0px 0px 0px 0px; height: calc(100vh - 72px); display: none">
        <!-- config.json -->
      </div>
    </div>
  {% endif %}

  <!-- JavaScript Graphics Library -->
  <script type="text/javascript" src='{% static "websim/utils/jsgl.min.js" %}'></script>
  {% if exercise.platform == "websim" %}
    <script>
      var config_file = "{% static world %}";
      var config_evaluator = "{{ evaluator }}";
      var evaluator_icon1 = '{% static "websim/assets/resources/" %}' + "{{ evaluator_icon1 }}";
      var evaluator_icon2 = '{% static "websim/assets/resources/" %}' + "{{ evaluator_icon2 }}";
      var play_icon = '{% static "websim/assets/resources/play-icon.png" %}';
      var stop_icon =  '{% static "websim/assets/resources/stop-icon.png" %}';
      var stop_camera_icon = '{% static "img/icons/no-camera.png" %}';
      var play_camera_icon = '{% static "img/icons/camera.png" %}';
    </script>
    {% if competitive %}
      <!-- WebSim-Competitive Core -->
      <script src='{% static "websim/Competitive-Scratch/build/websim.bundle.js" %}'></script>
      <!-- Competitive-Scratch-Editor Core -->
      <script src='{% static "websim/Competitive-Scratch/build/editor.bundle.js" %}'></script>
    {% else %}
      <!-- WebSim Core -->
      <script src='{% static "websim/Scratch-editor/build/websim.bundle.js" %}'></script>
      <!-- Scratch-Editor Core -->
      <script src='{% static "websim/Scratch-editor/build/editor.bundle.js" %}'></script>
    {% endif %}
    <!-- OpenCV -->
    <script type="text/javascript" src='{% static "websim/utils/opencv3.3.1.js" %}'></script>
    <!-- Blockly core (Scratch) -->
    <script src='{% static "websim/scratch-drivers/google-blockly/blockly_compressed.js" %}'></script>
    <script src='{% static "websim/scratch-drivers/google-blockly/blocks_compressed.js" %}'></script>
    <script src='{% static "websim/scratch-drivers/google-blockly/msg/js/es.js" %}'></script>
    <script src='{% static "websim/scratch-drivers/google-blockly/core/css.js" %}'></script>
    <script src='{% static "websim/scratch-drivers/google-blockly/core/block_render_svg.js" %}'></script>
    <script src='{% static "websim/scratch-drivers/google-blockly/javascript_compressed.js" %}'></script>
    <script src='{% static "websim/scratch-drivers/google-blockly/python_compressed.js" %}'></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  {% endif %}
  {% if synchronous %}
    <script type="text/javascript" src='{% static "js/chat.js" %}'></script>

    <script type="text/javascript" src='{% static "js/webrtc.js" %}'></script>
    <script type="text/javascript" src='{% static "js/set_dataCH.js" %}'></script>
  {% endif %}
  <script type="text/javascript" src='{% static "js/display_windows.js" %}'></script>

  <script type="text/JavaScript">
    if ('{{competitive}}' == "" && '{{synchronous}}' == "False") { // Display dual for Retos
      displayDual();
    }
  </script>
  <style>
      /* Button and WorkArea Permissions Management */
      .button-forbidden {
        pointer-events: none;
        opacity: 0.4;
      }
      .div-forbidden {
        pointer-events: none;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        background-color: #ccc;
      }
      .write-forbidden {
        pointer-events: none;
      }
      .navbar {
        margin-bottom: 0px;
      }
  </style>

{% endblock %}
