{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Página Principal' %}</a>
&rsaquo; {% trans 'Restablecer contraseña' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

<p>{% trans "Su contraseña ha sido restablecida. Ya puede entrar en la aplicación." %}</p>

<p><a href="/login">{% trans 'Log in' %}</a></p>

{% endblock %}