#main{
  position:absolute;
  border:1px solid black;
  padding:10px;
}
#main > div{
  float:center;
  margin:10px;
}


h1 {
 color: #303030;
    text-align:center;
}

h2 {
 color: #303030;
}

.aParent div {
  float: center;
  clear: none;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #13487d;
  margin: 1em 0;
  padding: 0;
}

.s2{list-style-type: circle;}

.content {
  max-width: 1200px;
  margin: auto;
}
.analyticsIMG {
  width: 100%;
  height: auto;
}

.left {
  float:left;
  width:50%;
}

.main {
  float:left;
  width:100%;
}

.right {
  float:right;
  width:50%;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width:800px) {
  .left, .main, .right {
  width:100%
  }
  .column {
    width: 100%;
  }
}
