/* Archivo CSS para definir el estilo principal de la aplicación */

/* ======================= Main Styles ===================== */

body {
    /* Regla CSS que contiene el color de fondo y el color de letra pricipales
     de la aplicación. Cualquier elemento con esta clase tendra estos colores */
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #F6F6F6;
    color: black;
}
th {
    text-align: center;
    vertical-align: middle;
}
ul {
    list-style-type: none;
}
body {
    background-color: #f6f6f6;
}
.row {
    margin-left: 15px;
}
a {
    color:rgb(77, 77, 77);
}
a:hover {
    color: rgb(0, 105, 224);
}
.btn-forum {
    color: #ffffff;
    background-color: #611BBD;
    border-color: #130269;
}
.btn-forum:hover {
    color: #ffffff;
    background-color: #130269;
}
.panel > .panel-heading {
    /* Main Color para los panel heading de la aplicación */
    background-color: #0f8ff7;
    color: #ffffff;
}


/* ======================= Navbar Styles ===================== */
.nav.navbar {
    color: black;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    padding-top: 2px;
}

.navbar-nav{
    color: black;
}

.navbar-nav > a:active, .navbar-nav > a:hover {
       outline: 0;
       color: rgb(0, 0, 0);
    }

.navbar-nav > li > a {
    color: black;
    padding: 5px 15px;
}

#navcenter > li > a > img {
  width: 20px;
  height: 20px;
}

.navbar-right > li > a >img {
  width: 20px;
  height: 20px;
}

.active {
    color: black;
    /*background-color: #ffffff;*/
    margin-bottom: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #ffffff;
    color: #FFFFFF;
}

.tabtext {
    margin-top: 4px;
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    }
    .exercise-nav {
        box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    }
}


#loader{
    top:0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
}

.loaded{
    opacity: 0;
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 0.6s ease-out;
    transition: all 0.3s 0.6s ease-out;
}

#icon_loader{
        top: 50%;
        transform: translateY(-50%);
}

.footer {
    font-size: 10px;
    padding-top: 3px;
    text-align: center;
    background-color: rgb(115, 190, 252);
    position: fixed;
    clear: both;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
}


.btn-simulation.disabled{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
a.btn-simulation.disabled{
    pointer-events: none;
}

/* ==================== NAVBAR EXERCISE ==================== */
#exercise-nav {
  display: block;
  height: 30px;
  width: auto;
  padding-bottom: 0;
  background-color: white;
  border: 1px solid lightgray;
}

#exercise-nav > li {
  display: inline-block;
}

#exercise-nav > li > #exernav-center {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform : translateX(-50%);
}

#exernav-center {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  overflow: hidden;
  max-width: 100%;
  background-color: #fff;
  padding: 0 0px;
  height: 30px;
}

/*#exernav-center > li {
  display: inline;
  list-style-type: none;
}*/

#exernav-center > li > a{
  display: inline-block;
  padding: 0px 15px;
  color: black;
  padding-top: 4px;
}

#exernav-center > li > a > img {
  width: 20px;
  height: 20px;
}

/* The alert message box */
#alertDiv {
  position: absolute;
  width: 100%;
  padding: 20px;
  background-color: lightblue;
  color: white;
  margin-bottom: 15px;
  z-index: 1;
}

#acceptDiv {
  margin-left: 15px;
  color: white;
  float: right;
}

/* The close button */
#connectBtn{
  text-decoration: none;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  background:#fff;
  color:#000;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

/* ======================= Chat Messages Style ===================== */

.container-chat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker-chat {
  border-color: #ccc;
  background-color: #ddd;
  text-align: right;
}

.container-chat::after {
  content: "";
  clear: both;
  display: table;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

/* ======================= Chat column Style ===================== */

#chat_column {
  background-color: white;
}

#chatSend {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#messages {
  width: 90%;
  height: 150px;
  overflow-y: scroll;
  border:1px solid silver;
}

/* ======================= Search User bar ===================== */

#searchBar {
  height:30px;
  width: 250px;
}

#userSearch {
	outline: none;
}

#userSearch[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

#userSearch::-webkit-search-decoration,
#userSearch::-webkit-search-cancel-button {
	display: none;
}


#userSearch[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 0px 1px 0px 32px;
	display: inline-block;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
  height: 27px;
  width: 200px;
}

#userSearch:-moz-placeholder {
	color: #999;
}
#userSearch::-webkit-input-placeholder {
	color: #999;
}

/* ==================== NAVBAR CHECKBOX ==================== */

#checkStatus {
  height: 30px;
}

#checkOnline{
  display: inline;
  vertical-align: middle;
  border-style: ridge;
  height: 30px;
}

#checkCode {
  display:inline;
  vertical-align:middle;
  border-style: ridge;
  height: 30px;
}

input[type=checkbox] + label {
  display: inline;
  cursor: pointer;
  margin-bottom: 0px;
  font-size: 10px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-left: 0.2em;
  margin-right: 0.2em;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: black;
  border-color: black;
  color: #fff;
}

#online2:checked + label:before {
  background-color: orange;
  border-color: orange;
  color: #fff;
}

#code2:checked + label:before {
  background-color: orange;
  border-color: orange;
  color: #fff;
}

/* ==================== EXIT CHECK ==================== */
.modal-footer{
  text-align: center;
}

.modal-footer > a {
  padding-left: 15px;
}

.modal-footer > a > img {
  height: 40px;
  width: 40px;
}
