{% load static %} <!-- Cargamos los archivos estaticos -->

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Kibotics - 500 Error</title>
  <link rel="icon" type="image/png" href='{% static "img/kibotics_favicon.png"%}' sizes="16x16">
  <link rel="stylesheet" href='{% static "css/error_page.css" %}'>
</head>

<body class="permission_denied">
<div id="particles-js"></div>
<div class="denied__wrapper" style="max-width:600px;">
    <h1>500</h1>
    <h1 style="font-size:50px">Vaya... algo salió mal.<br>¡Error!</h1>
    <a href="/main_page"><img src='{% static "img/logo_mascota_2.png"%}'
                              style="display:block; margin-left: auto; margin-right:auto;"
                              width="520" height="275" alt=""></a>
    <a href="/main_page">
        <button class="denied__link">Página de Inicio</button>
    </a>
</div>
<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
<script src='{% static "js/error_page.js" %}'></script>
</body>

</html>
