<!doctype html>
<html>
  {% load static %}
  <head>
    <title>Upload to Arduino</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Cabin+Sketch|Fugaz+One|Itim|Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'UploadArduino/css/style.css' %}" />
  </head>
  <body>
  
  <div class="main">
      <div class="wrapper">
        <div class="bot">
          <h1>WEB SERIAL API</h1>
          <form id="uploadForm"> 
            <label>Board:
              <select id="boardType">
                <option value="uno">Uno</option>
                <option value="mega">Mega</option>
              </select>
            </label>
            <label>Choose a program:
              <div class="fileButtonWrapper">
                <button id="fileButton" type="button" aria-controls="fileInput">Choose file</button>
                <input id="fileInput" tabindex="-1" type="file"/>
                <span id="fileName">no file chosen</span>
              </div>
            </label>
            <button type="submit" id="uploadBtn">Upload!</button>
          </form>
        </div>
      </div>
    </div>
    <script src="{% static 'UploadArduino/js/avrgirl-arduino.global.js' %}" charset="UTF-8"></script>
    <script src="{% static 'UploadArduino/js/main.js' %}">
    </script>
  </body>
</html>
