[Unit]
Description=Kibotics daphne
[Service]
User=jderobot
WorkingDirectory=/var/www/kibotics/jderobot_server/
ExecStart=/usr/local/bin/daphne jderobot_server.asgi:channel_layer --port 8000 -v 2
KillMode=process
Restart=on-failure
RestartSec=3s
[Install]
WantedBy=multi-user.target
