[Unit]
Description=Kibotics daphne
[Service]
User=jderobot
WorkingDirectory=/var/www/kibotics/jderobot_server/
ExecStart=/usr/bin/python  manage.py runworker
KillMode=process
Restart=on-failure
RestartSec=3s
[Install]
WantedBy=multi-user.target
